[submodule "plugins/popup"]
	path = plugins/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "plugins/judge-indent"]
	path = plugins/judge-indent
	url = git://github.com/yascentur/judge-indent-el.git
[submodule "plugins/highlight-indentation"]
	path = plugins/highlight-indentation
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "plugins/rails-minor-mode"]
	path = plugins/rails-minor-mode
	url = git://github.com/remvee/emacs-rails.git
[submodule "plugins/rhtml-minor-mode"]
	path = plugins/rhtml-minor-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "plugins/yaml-mode"]
	path = plugins/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "plugins/popwin"]
	path = plugins/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "plugins/highlight-parentheses"]
	path = plugins/highlight-parentheses
	url = https://github.com/nschum/highlight-parentheses.el.git
[submodule "plugins/coffee-mode"]
	path = plugins/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "plugins/yasnippets-rails"]
	path = plugins/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule "plugins/visual-regexp"]
	path = plugins/visual-regexp
	url = https://github.com/benma/visual-regexp.el.git
[submodule "plugins/auto-complete-clang"]
	path = plugins/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "plugins/emacs-clang-complete-async"]
	path = plugins/emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
