[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "plugins/popup"]
	path = plugins/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "plugins/judge-indent"]
	path = plugins/judge-indent
	url = git://github.com/yascentur/judge-indent-el.git
[submodule "plugins/highlight-indentation"]
	path = plugins/highlight-indentation
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "plugins/rails-minor-mode"]
	path = plugins/rails-minor-mode
	url = git://github.com/remvee/emacs-rails.git
[submodule "plugins/rhtml-minor-mode"]
	path = plugins/rhtml-minor-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "plugins/yaml-mode"]
	path = plugins/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "plugins/helm"]
	path = plugins/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "plugins/helm-etags-plus"]
	path = plugins/helm-etags-plus
	url = https://github.com/jixiuf/helm-etags-plus.git
[submodule "plugins/helm-gtags"]
	path = plugins/helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "plugins/popwin"]
	path = plugins/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "plugins/helm-rails"]
	path = plugins/helm-rails
	url = https://github.com/asok/helm-rails.git
[submodule "plugins/highlight-parentheses"]
	path = plugins/highlight-parentheses
	url = https://github.com/nschum/highlight-parentheses.el.git
[submodule "plugins/coffee-mode"]
	path = plugins/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
